KU_APP_KEY=your_ku_app_key
KU_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
YOUR_PUBLIC_KEY_HERE
-----END PUBLIC KEY-----"
KU_BASE_URL=https://my.ku.th
KU_LOGIN_URL=https://my.ku.th/myku/api/v2/user-login/login
KU_GROUP_COURSE_URL=https://my.ku.th/myku/api/std-profile/getGroupCourse
KU_PUBLIC_CBP_URL=https://my.ku.th/myku/api/common/publicCBP
KU_ORIGIN=https://my.ku.th
KU_REFERER=https://my.ku.th/
SKELETON_DELAY_MS=500
